.formBtn {
  margin: 10px;
}

.formBox {
  padding: 6.25;
  display:'flex';
  border: '1px dashed grey';
  position: 'absolute';
  left: '50%';
  top: '50%';
  transform: 'translate(-50%, -50%)';
  flex-direction: 'column';
  width: 400px;
  overflow: auto;
}